{% extends 'ClashOfKingsAppBundle::layout.html.twig' %}
{% block content %}
<a href="{{ path('home') }}"> <- {{ 'back'|trans }}</a>

    <h1>{{ 'head.units'|trans|raw }}</h1>
    <ol>
        {% for type in unitTypes %}
        <li>
            <strong>{{ type.getName() |trans }}</strong>
            <ol>
                {% for unit in type.getUnits() %}
                <li>
                    <a href="{{ path('unitInfo', {'index':unit.getId()}) }}">{{ unit.getName()|trans({}, 'unit')|raw }}</a>
                </li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
{% endblock %}