<form action="{{ path('unitCompare') }}">
    <select name="id">
        {% for type in unitTypes %}
            <option disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ type.getName() |trans }}</option>
            {% for unit in type.getUnits() %}
                <option value="{{ unit.getId() }}">{{ unit.getLevel() }}.  {{ unit.getName()|trans({}, 'unit')|raw }} </option>
            {% endfor %}
        {% endfor %}

    </select>
    <input type="submit" value="Ok">
</form>